.App {
  background-color: #1a2027;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  /* color: white; */
}

.App-header {
  text-align: center;
  margin-bottom: 4rem;
  color: white;
}

.form-input {
  display: flex;
}

ul li {
  cursor: pointer;
}

/* @media screen and (min-width: 600px) {
  .App {
    background-color: blue;
  }
}

@media screen and (min-width: 960px) {
  .App {
    background-color: red;
  }
} */
