.counter {
    padding-bottom: 3rem;
}

.user {
    display: block;
    margin-bottom: 1rem;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    margin: 1rem;
}

.form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.form input,
.form select {
    margin-top: 1rem;
}